  .button {
    width: 50%;
    height: 20%;
    padding: 10% 10%;
    border-radius: 5%;
    /* background-color: #007bff; */
    color: #fff;
    font-size: 2rem;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .button-right {
    background-color: rgb(101, 156, 45);
    width: 50%;
    height: 20%;
    margin: auto;
    padding: 10% 0px;
    border-radius: 5%;
    color: #fff;
    font-size: 2rem;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;

  }
  .button-left {
    background-color: crimson;
    width: 50%;
    height: 20%;
    margin:auto;
    padding: 10% 0px;
    border-radius: 5%;
    color: #fff;
    font-size: 2rem;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .button-logout {
    background-color: rgb(82, 76, 67);
    width: 70%;
    height: 20%;
    padding: 10% 10%;
    border-radius: 5%;
    color: #fff;
    font-size: 2rem;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .button-matched {
    background-color: rgb(101, 156, 45);
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 10% 0px;
    border-radius: 5%;
    color: #fff;
    font-size: 1.5rem;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;

  }
  .button:hover {
    background-color: #0062cc;
  }