  .container {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 50%;
    height: 100%;
  }
  .card-container {
    height: 80%;
  }

  .button-container {
    display: flex;
    justify-content: center;
    height: 10%;
    width: 20%;
    column-gap: 10%;
    align-items: center;
    margin: auto;
  }
  
  /* .button:hover {
    background-color: #0062cc;
  } */
  /* #left-button {
    background-color: crimson !important;
  }
  #right-button {
    background-color: chartreuse;
  } */