  .container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 50%;
  }
  .card-container {
    height: 50%;
  }

  .button-container {
    display: flex;
    height: 10%;
    width: 20%;
    column-gap: 20px;
    align-items: center;
    margin: auto;
  }
  
  .button:hover {
    background-color: #0062cc;
  }
  /* #left-button {
    background-color: crimson !important;
  }
  #right-button {
    background-color: chartreuse;
  } */