.user-container {
    margin: auto;
    max-width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;
    border: 1px solid #ccc;
    border-radius: 5%;
    background-color: #1f1f1f;
    color: rgb(30, 12, 173);
    box-shadow: #333;
    flex: 1;
  }
  
  .user-name {
    font-size: 400%;
    font-weight: bold;
    margin-bottom: 10px;
  }


  .technical-skills {
    margin: 10% 0%;
  }
  
  .skills-title {
    border-top: 1px solid #ccc;
    padding-top: 20px;
    font-size: 200%;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .skills-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .skill-item {
    background-color: #f0f0f0;
    color: #333;
    border-radius: 20px;
    padding: 5px 10px;
    margin: 5px;
    font-size: 1.5rem;
  }
  
  .member-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .member-item {
    background-color: #f0f0f0;
    color: #333;
    border-radius: 20px;
    padding: 5px 10px;
    margin: 5px;
    font-size: 1.5rem;
  }
  
  .description {
    margin: 20px 0;
    border-top: 1px solid #ccc;
    padding-top: 20px;
  }
  
  .description-title {
    font-size: 200%;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .description-text {
    font-size: 200%;
    color: white;
  }

  .contacts {
    color: rgb(30, 12, 173);
  }
  